Django==5.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.2
django-filter==24.1
Pillow==10.1.0
django-cors-headers==4.3.1
django-htmx==1.17.2
python-dotenv==1.0.0
celery==5.3.4
redis==5.0.1
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
factory-boy==3.3.0
Faker==22.0.0
elasticsearch==8.11.0
elasticsearch-dsl==8.11.0
django-elasticsearch-dsl==8.0.0
django-mail-templated==3.0.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-decouple==3.8
